/* Global Tailwind imports */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Custom global styles */
html {
  @apply scroll-smooth; /* Tailwind utility for smooth scrolling */
  scroll-padding-top: 6rem; /* This is a custom CSS rule */
}

* {
  /* Manually applying base styles using Tailwind's @apply */
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  background-color: #111111;
}

.vertical-writing {
  writing-mode: vertical-lr;
}
/* Hide scrollbar for Webkit browsers */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
}

/* Optional: Prevent text selection outside of the modal when scrolling */
body {
  user-select: none;
}

/* index.css or global.css */
@media (max-width: 640px) {
  html {
    font-size: 12px; /* Adjust for mobile */
  }
}

@media (min-width: 641px) and (max-width: 1024px) {
  html {
    font-size: 16px; /* Adjust for tablets */
  }
}

@media (min-width: 1025px) {
  html {
    font-size: 18px; /* Adjust for desktops */
  }
}
