/* Global Tailwind imports */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Custom global styles */
html {
  @apply scroll-smooth; /* Tailwind utility for smooth scrolling */
  scroll-padding-top: 6rem; /* This is a custom CSS rule */
}

* {
  /* Manually applying base styles using Tailwind's @apply */
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.vertical-writing {
  writing-mode: vertical-lr;
}
